:root{

--bg: #5d4037;

--bg2: #3e2723;

--border: #795548;

--border2:#bcaaa4;

}




body{

margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-size: cover;
background-image: url(images/photo1\ \(1\).jpg);
color: white;

}



#top{
background: var(--bg);
text-align: center;
padding: 15px;
font-size: 15px;
border-radius: 2px solid var(--border2) ;

}


#container{
padding: 15px;
display: flex;
justify-content: space-between;
align-items: center;
}





.brand{
font-size: 40px;
font-weight: bold;
color: var(--border);
text-decoration: none;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}







.nav{
color: white;
text-decoration: none;
padding: 20px;


}
nav a:hover{
 background: var(--bg2);
color: white;
border-radius: 20px;


}

.hero{

padding: 120px;



}

#hero_title{

font-size: 40px;
padding: 20px;


}


#hero_p{

font-size: 20px;
color: white;

}



#button{

padding: 10px;
background: white;
color: black;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
}


#bestsellers_title{

font-size: 50px;
color: #9e7148;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}


.product-grid{
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 20px;
padding: 20px;
}


.product-grid img{

width: 250px;
height: 250px;

}

.product-card{

    border: 2px solid var(--border);
  background: var(--bg2);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
 
}






.product-card button{

font-size: 15px;
padding: 5px 10px;
color: black;
background: var(--border2);
}





