:root{

--bg: #5d4037;

--bg2: #3e2723;

--border: #795548;

--border2:#bcaaa4;

}




body{

margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-size: cover;
background-image: url(images/photo1\ \(1\).jpg);
color: white;

}



#top{
background: var(--bg);
text-align: center;
padding: 15px;
font-size: 15px;
border-radius: 2px solid var(--border2) ;

}


#container{
padding: 15px;
display: flex;
justify-content: space-between;
align-items: center;
}





.brand{

font-size: 20px;
font-weight: bold;
color: var(--border);
text-decoration: none;
}





.nav{
color: white;
text-decoration: none;
padding: 20px;


}
nav:hover{
 background: var(--bg2);
color: white;
border-radius: 20px;


}